<div class="c-product-card">
  {{ 'product-1' | placeholder_svg_tag }}
  <div class="c-product-card__copy">
    <h4 class="c-product-card__title">
      <a href="#">Product title</a>
    </h4>
    <div class="c-product-card__price">{{ 99 | money }}</div>
  </div>
</div>
