@font-face {
  font-family: "Intervogue";
  src: url("https://ninetypercent.com/cdn/shop/files/IntervogueRegular.woff?v=1660660715");
  font-weight: 400;
}

@font-face {
  font-family: "Intervogue";
  src: url("https://ninetypercent.com/cdn/shop/files/IntervogueMedium.woff?v=1679587739");
  font-weight: 700;
}
