.l-wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.l-wrap-fluid {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.l-wrap-600 {
  @extend .l-wrap;

  max-width: 600px;
}

.l-wrap-700 {
  @extend .l-wrap;

  max-width: 700px;
}

.l-wrap-800 {
  @extend .l-wrap;

  max-width: 800px;
}

.l-wrap-1200 {
  @extend .l-wrap;

  max-width: 1200px;
}

.l-col-2 {
  display: grid;
  gap: 32px 16px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.l-col-3,
.l-col-4 {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  @media (min-width: 768px) {
    width: calc(100% + 16px);
  }

  & > * {
    @media (max-width: 767px) {
      width: 100%;
    }

    @media (min-width: 768px) {
      width: calc((100% / 2) - 16px);
    }
  }
}

.l-col-3 > * {
  @media (min-width: 1024px) {
    width: calc((100% / 3) - 16px);
  }
}

.l-col-4 > * {
  @media (min-width: 1024px) {
    width: calc((100% / 4) - 16px);
  }
}

.l-grid-of-200 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.l-grid-of-250 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}
