*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: break-all;
}

body {
  font: normal 400 18px/1.5 var(--base-font);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 36px;
  line-height: 1.2;
}

a {
  color: #000;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

hr {
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #ddd;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #000;
  padding: 6px 12px;
  min-height: 44px;
  border-radius: 0;
  background-color: #fff;
  font: normal 400 18px/1.5 var(--base-font);

  &:focus {
    outline: none;
  }
}

textarea {
  resize: vertical;
  min-height: 150px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding: 8px 16px;
  border: 0;
  text-align: left;
  padding-left: 0;
}

thead {
  border-bottom: 1px solid #ddd;
}

button {
  cursor: pointer;
}
