<div class="l-wrap">
  <div class="c-footer__content u-text-center">
    <p>&copy; Copyright 2024. All rights reserved.</p>
  </div>
</div>

{% schema %}
{
  "tag": "footer",
  "class": "c-footer u-py-32",
  "name": "Footer Section",
  "settings": []
}
{% endschema %}
