<div class="l-wrap u-py-32">
  {% paginate blog.articles by section.settings.posts_per_page %}
    <h2 class="u-text-upcase u-mb-24 u-text-center u-letter-spacing-1">{{ blog.title }}</h2>
    <div class="c-cards">
      {% for article in blog.articles %}
        {% render 'article-card', article: article %}
      {% endfor %}
    </div>

    {% render 'pagination', paginate: paginate %}
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "type": "range",
      "id": "posts_per_page",
      "step": 1,
      "min": 1,
      "max": 6,
      "label": "Posts per page",
      "default": 3
    },
    {
      "type": "text",
      "id": "read_more_label",
      "default": "Read more",
      "label": "Read more text"
    }
  ]
}
{% endschema %}
