<div class="c-template-customer-reset-password u-py-32">
  <div class="l-wrap-600">
    <h1 class="u-mb-40">Reset password</h1>

    {%- form 'reset_customer_password', class: 'c-form u-d-grid u-gap-32' -%}
      {{ form.errors | default_errors }}

      <div class="c-form__group">
        <label for="password">Password</label>
        <input
          type="password"
          name="customer[password]"
          id="password"
          placeholder="Password"
          autocomplete="new-password"
        >
      </div>

      <div class="c-form__group">
        <label for="password_confirmation">Confirm password</label>
        <input
          type="password"
          name="customer[password_confirmation]"
          id="password_confirmation"
          placeholder="Confirm password"
        >
      </div>

      <div class="c-form__group">
        <button type="submit" class="c-btn c-btn--black c-btn--full">Reset password</button>
      </div>
    {%- endform -%}
  </div>
</div>
