<div class="c-page-content u-py-32">
  <div class="l-wrap-700">
    <h1 class="u-mb-24">
      {% if section.settings.page_title != blank %}
        {{ section.settings.page_title }}
      {% else %}
        {{ page.title }}
      {% endif %}
    </h1>
    <p>{{ page.content }}</p>
  </div>
</div>

{% schema %}
{
  "name": "Template Page",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "page_title",
      "label": "Page title"
    }
  ]
}
{% endschema %}
