.c-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.c-card {
  background-color: #fff;
  overflow: hidden;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  &__img {
    width: 100%;
  }

  &__copy {
    padding: 24px;
  }

  &__title > a {
    text-decoration: none;
    text-transform: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
