.c-header-section {
  position: sticky;
  top: 0;
  z-index: $header_z_index;
}

.c-header {
  background: #f9f9f9;
  padding: 15px 0;
  min-height: var(--header-min-height, 60px);
  display: flex;
  align-items: center;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px 30px;
  }

  &__brand {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: monospace;
    font-size: 22px;
  }

  &__hamburger {
    width: 30px;
    height: 30px;
    display: grid;

    > svg {
      width: 100%;
    }

    @media (min-width: 1024px) {
      display: none;
    }

    .c-icon-x-mark {
      display: none;
    }

    &.is-open {
      .c-icon-x-mark {
        display: block;
      }
      .c-icon-bars {
        display: none;
      }
    }
  }

  &__nav {
    @media (max-width: 1023px) {
      display: block;
      position: fixed;
      width: 100%;
      left: 0;
      top: var(--header-min-height);
      background-color: #fff;
      border-bottom: 1px solid #ddd;
      padding: 16px 0;

      opacity: 0;
      visibility: hidden;

      &.is-visible {
        opacity: 1;
        visibility: visible;
      }
    }

    @media (min-width: 1024px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
    }

    > ul {
      margin: 0;
      padding: 0;
      list-style: none;

      @media (min-width: 1024px) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
    }

    > li {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    a {
      text-decoration: none;
      font-size: 13px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #2b2725;
      padding: 8px 16px;
      transition: 0.2s;
      display: inline-flex;
      align-items: center;
      white-space: nowrap;

      &:hover,
      &:focus {
        color: #000;
      }

      > svg.c-icon-cart {
        width: 20px;
      }
    }
  }
}

.c-cart-count {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: red;
  padding: 4px;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  position: relative;
  margin-top: -12px;
}
