.c-header-section {
  position: sticky;
  top: 0;
  z-index: $header_z_index;
}

.c-header {
  background: #f9f9f9;
  padding: 15px 0;
  min-height: var(--header-min-height, 60px);
  display: flex;
  align-items: center;

  &__content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 16px;
    align-items: center;
  }

  &__brand {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: monospace;
    font-size: 20px;
    white-space: nowrap;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__hamburger {
    width: 30px;
    height: 30px;
    display: grid;

    > svg {
      width: 100%;
    }

    @media (min-width: 768px) {
      display: none;
    }

    .c-icon-x-mark {
      display: none;
    }

    &.is-open {
      .c-icon-x-mark {
        display: block;
      }
      .c-icon-bars {
        display: none;
      }
    }
  }

  &__nav {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    > ul {
      margin: 0;
      padding: 0;
      list-style: none;

      @media (min-width: 768px) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
    }
  }

  &__nav-main {
    justify-content: center;

    @media (max-width: 767px) {
      display: block;
      position: fixed;
      width: 90vw;
      background: #fff;
      height: calc(100vh - var(--header-min-height));
      left: 0;
      top: var(--header-min-height);
      padding: 32px 16px;
      transform: translateX(-100%);
      transition: transform 0.15s;

      &.is-visible {
        transform: translateX(0);
      }
    }
  }

  &__nav-account-li {
    @media (max-width: 767px) {
      display: none !important;
    }
  }

  &__nav-link,
  &__nav-dropdown-link {
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $text-color-gray;
    padding: 8px 16px;
    transition: 0.15s;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;

    &:hover,
    &:focus {
      color: #000;
    }

    > svg {
      width: 20px;
    }
  }

  &__nav-icons {
    justify-content: end;

    .c-header__nav-link {
      padding: 8px 12px;

      @media (max-width: 767px) {
        padding: 8px;
      }
    }
  }

  &__nav-cart-link {
    position: relative;
    padding-right: 0 !important;

    sup {
      display: inline-flex;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: red;
      padding: 4px;
      color: #fff;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      position: absolute;
      top: 0;
      right: -8px;
    }
  }

  a[data-customer-name] {
    position: relative;

    &::after {
      content: "as " attr(data-customer-name);
      display: block;
      position: absolute;
      bottom: 0;
      transform: translateY(7px);
      font-size: 0.8em;
    }
  }
}
