@import "./c-header";
@import "./c-dropdown";
@import "./c-btn";
@import "./c-article";
@import "./c-comment";
@import "./c-form-group";
@import "./errors";
@import "./c-card";
@import "./c-product-card";
@import "./c-product-page";
@import "./c-badge";
@import "./c-cart-page";
@import "./c-form";
@import "./c-search-container";
@import "./c-search-page-search-form";
@import "./c-custom-pagination";
@import "./c-order-card";

.c-object-type {
  position: absolute;
  text-align: center;
  left: 8px;
  top: 8px;
  padding: 8px;
  background: red;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
}

.c-cart-remove-link {
  color: red;

  > svg {
    width: 20px;
  }
}

.c-hr {
  width: 100%;
  height: 1px;
  background-color: $border-color;
}
